# Database
DATABASE_URL=

# Security
SECRET_KEY=

# Gemini
GOOGLE_API_KEY=

# OpenAI
OPENAI_API_KEY=

# LinkedIn OAuth
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URI=

# Redis
REDIS_URL=

# Email
RESEND_API_KEY=

# Application
APP_ENV=
APP_NAME=